.subBanner {
  height: 140px;
  color: #666;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 20px;
}

.example-full-width {
  width: 100%;
}

.mat-label-checkbox {
  white-space: normal !important;
  font-weight: 100;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.margin-1em {
  margin-bottom: 2rem;
}

.dash-row {
  display: block;
}
